.root {
    -fx-background-color: lightblue;
    -fx-foreground-colour: white;
    -fx-font-size: 14px;
 }

 .button {
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-background-color: red;
    -fx-padding: 3 5 3 5;
    -fx-text-fill: white;
    -fx-font-size: 18px;
 }
